[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
CN = 26.83.32.20

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 26.83.32.20
DNS.1 = localhost
